/* .box1 {
    border: 3px;
    border-style: solid;
    border-color: aqua;
    border-radius: 8px;
}

.box1 {
    border:5px double pink;
} */


.box1 {
    border-bottom: 5px double pink;
}

.box2 {
    background-color: lightblue;
    border: 3px solid black;
    padding: 30px 15px 10px 40px ;
}

.box3 {
    border: 3px solid lightslategray;
    margin: 50px 30px;
}

.box3 {
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left:  50px;
}